.day_weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-80018.jpg);
  background-color: #004480;
  border-radius: 40px;
  color: white;
  margin: 0px 340px;
  height: 300px;
  width: 300px;
}
.row {
  display: flex;
  flex-direction: row;
}
.current_data{
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 30px 10px;
}
.column {
  display: flex;
  flex-direction: column;
  width: 70px;
}
.current_weather_label{
  background-size: 170px 170px;
  width: 140px;
  height: 140px;
  margin: 25px 5px 10px;
  background-image: url(old/d.png);
}
.weather_label_day1,
.weather_label_day2,
.weather_label_day3{
  height: 55px;
  width: 55px;
  margin: 1px;
}
.weather_label_day1{
  background-image: url(old/n_c1_r3.png);
}
.weather_label_day2{
  background-image: url(old/c3_st.png);
}
.weather_label_day3{
  background-image: url(old/n_c1.png);
}
.current_day,
.city {
  font-size: 20px;
  text-align: right;
}
.time,
.current_temperature {
  font-size: 45px;
}
.temperature_day,
.current_weather {
  font-size: 17px;
  text-align: left;
  padding: 2px;
}
.day_week,
.temperature {
  font-size: 20px;
  text-align: center;
}
